html,
body,
.view {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

strong {
	font-weight: bold;
	font-size: calc(1vw + 24px);
}

b {
	font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
}

p {
	font-size: calc(0.8vw + 12px);
}

/* Adjustment to the Bootstrap containers*/
@media (max-width: 768px){
	.container{
		max-width: 90%;
	}  
}

/* Navbar States - Becomes opaque as user scrolls */
.navOpaque {
	background: rgba(129, 27, 20, 0.6);
	-webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: background 1000ms linear;
}
.navSolid {
	background: rgba(129, 27, 20, 1.0);
	-webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: background 1000ms linear;
}
/* Navbar Brand */
.isauw-logo {
	height: calc(1.6vw + 36px);
}
/* All Navbar items */
.navList {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: calc(0.4vw + 12px);
	text-shadow: darkslategray 1px 1px 0.2rem;
}
.navLink {
	text-decoration: none;
	padding: .5rem 1rem .5rem 32px !important;
	color: rgba(255,255,255,.70);
}
.navLink:hover {
	color: rgba(255,255,255,1);
}
.navLinkActive {
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 25px rgba(255,255,255,.50);
}

/* Ad Banner */
.alert-fixed {
    position: fixed; 
	bottom: 0%;
	left: 50%;
	height: 90px;
    width: 728px;
	margin-left: -364px; /* Negative half of width. */
    z-index: 999; 
	background-image: url("https://picsum.photos/800");
}
.btn-close {
	padding: 1rem !important; 
}
.btn-close:focus {
	box-shadow: none;
}
@media only screen and (max-width: 768px) {
	.alert-fixed {
		height: 50px;
		width: 320px;
		margin-left: -160px; /* Negative half of width. */
		background-image: url("https://picsum.photos/400");
	}	
	.btn-close {
		padding: 0.25rem !important;
		width: 0.5rem;
		height: 0.5rem;
		margin: 0.5rem;
	}
}

/* Carousel Size */
.carousel .carousel-inner {
	height: 100%; 
}
.carousel .carousel-inner .carousel-item {
	height: 100%; 
}
/* Carousel Arrows */
.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
	width: 60px !important;
    height: 60px !important;
	display: none;
}
/* Carousel Images - zooms in instead of stretching image */
.w-100 {
    width:100%;
    height:200%;
    object-fit: cover;
    overflow: hidden;
}
/* Carousel Caption */
.carousel-title {
	font-size: calc(3.2vw + 16px);
	font-weight: bold;
	text-shadow: #606060 0px 0px 10px;
}

.div-margin-btm {
	margin-bottom: calc(1vw + 32px) !important;
}
.div-margin-top {
	margin-top: calc(1vw + 32px) !important;
}

/* Footer */
.page-footer {
	font-family: 'Roboto', sans-serif;
	background-color: #811B16; 
}

/* Social icons and hover animation */
.social-icon {
	padding-left: 1rem;
	padding-right: 1rem;
}
.social-icon i {
	transition: transform .5s; 
}
.social-icon i:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

/* Footer background image, supposed to look like batik */
.footer-copyright {
	background-image: url(https://www.transparenttextures.com/patterns/arabesque.png);
}

/* Terms and Conditions */
#conditions {
	font-weight: 300;
	font-size: calc(0.2vw + 14px);
	margin-bottom: 16px;
}
/* Slash between 'Privacy' and 'Terms' */
#conditions a::after {
    content: "/";
    opacity: .5;
    position: relative;
    right: -12px;
}
#conditions a:last-child::after { display: none; }

/* Copyright */
.copyright {
	font-weight: 100;
	font-size: calc(0.2vw + 12px);
}

.btn-circle {
	width: 100%;
	padding: calc(0.4vw) !important;
	border-color:none;
	box-shadow: none;
}
.btn-circle:focus {
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}


/* Officers page dropdown button */
.btn-rotate {
	transition-duration: 0.3s;
    transition-property: transform;
	transform: rotate(180deg);
}  
.btn-unrotate {
	transition-duration: 0.3s;
    transition-property: transform;
	transform: rotate(0deg);
}  

/* Removes shadow from bootstrap cards */
.card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* carousel text fadeInDown animation from mdb */
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
 }
 @-webkit-keyframes fadeInDown {
	0% {
	   opacity: 0;
	   -webkit-transform: translateY(-16px);
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateY(0);
	}
 }

 @keyframes fadeInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-16px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
 }
 .fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	animation-delay: 0.08s;
 }


/* Preloader */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff;
	z-index: 9999;
}

#preloader img {
max-width: 100px;
max-height: 100px;
position: absolute;
background-color: none;
z-index: 10000;
-webkit-animation: sk-rotatePlane 2s infinite ease-in-out;
				animation: sk-rotatePlane 2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
0% {
	-webkit-transform: perspective(200px) translateZ(3vw) rotateY(0deg);
	transform: perspective(200px) translateZ(3vw) rotateY(0deg); 
}
50% {
	-webkit-transform: perspective(200px) translateZ(3vw) rotateY(180deg);
	transform: perspective(200px) translateZ(3vw) rotateY(180deg); 
}
100% {
	-webkit-transform: perspective(200px) translateZ(3vw) rotateY(360deg);
	transform: perspective(200px) translateZ(3vw) rotateY(360deg); } 
}

@keyframes sk-rotatePlane {
0% {
	-webkit-transform: perspective(200px) translateZ(3vw) rotateY(0deg);
	transform: perspective(200px) translateZ(3vw) rotateY(0deg); 
}
50% {
	-webkit-transform: perspective(200px) translateZ(3vw) rotateY(180deg);
	transform: perspective(200px) translateZ(3vw) rotateY(180deg); 
}
100% {
	-webkit-transform: perspective(200px) translateZ(3vw) rotateY(360deg);
	transform: perspective(200px) translateZ(3vw) rotateY(360deg); } 
}

/* Allows highlighting of text in the slick carousel */
.slick-slider {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.slick-list.draggable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Slick carousel dots*/
.slick-dots li button:before
{
	font-size: calc(0.2vw + 6px);
}

/* Custom Slick Carousel button size */
.slick-upcoming-events-button {
	font-size: calc(1vw + 24px);
}
.slick-past-events-button {
	font-size: calc(0.8vw + 20px);
}

/* Custom Slick Carousel button states - Hover, Disabled */
div:not(.slick-disabled):not(.no-hover)>i:hover {
	color: rgba(0,0,0,0.75);
}
.no-hover {
	height: auto;
	text-align: center
}
.slick-disabled {
	color: rgba(0,0,0,0.1) !important;
}

/* Remove the old Slick Carousel Buttons */
.slick-prev:before, .slick-next:before {
	display: none;
}

/* Upcoming Events */
.upcoming-events-overlay {
    position:relative;
}
.upcoming-events-overlay:before {
	border-radius: 16px;
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 95%);
    z-index: 1;
}
.upcoming-events-content {
	padding: 1rem 0;
	width: 100%;
	color: white;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}
.upcoming-events-month {
	font-size: calc(12px + 0.4vw);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 0;
	color: #dd4139;
}
.upcoming-events-date {
	font-size: calc(16px + 0.6vw);
	font-weight: 900;
	margin-bottom: 0;
	letter-spacing: 1px;
}
.div-upcoming-events-date {
	padding-right: 12px;
	margin: auto 0;
	float: left;
	width: 25% 
}
.div-upcoming-events-content {
	padding: 0px 0px 0px 12px;
	box-shadow: -1px 0 0 white;
	float: left;
	width: 75%
}
.upcoming-events-icon {
	font-size: calc(10px + 0.4vw);
	width: calc(12px + 0.4vw) 
}
.upcoming-events-icon-text {
	font-size: calc(14px + 0.1vw); 
	font-weight: 300;
	color: #7F7F7F;
	margin: 0
}
/* Decreases left margin of the date when there is only 1 card in carousel*/
@media only screen and (max-width: 576px) {
	.div-upcoming-events-date {
		width: calc(6vw + 36px);
	}
} 

/* Both Events */ 
.events-title {
	font-weight: 700;
	font-size: calc(12px + 0.6vw);
	margin-bottom: 8px;
	letter-spacing: 2px;
}

/* Past Events */
.h1-past-events {
	padding: 1rem calc(0.4vw + 14px) 0;
	margin-bottom: 0;
}
.past-events-date {
	font-size: calc(10px + 0.3vw);
	font-weight: 300;
	color: #7F7F7F;
	margin: 0;
	letter-spacing: 0.8px; 
}
.past-events-text {
	color: #747373;
	font-weight: 300;
	font-size: calc(12px + 0.3vw);
	margin-bottom: 0;
}
.past-events-img {
	border-radius: 4px;
}
.past-events-content {
	padding: calc(0.8vw + 8px) calc(0.8vw + 8px) 0;
}
@media only screen and (max-width: 992px) {
	.h1-past-events {
		padding-left: 0;
	}
	.past-events-content {
		padding-left: 0;
	}
} 

/* Animations and styling to make the center slide larger */
.carousel-center-mode .slick-list .slick-slide {
	opacity: 0.5;
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.carousel-center-mode .slick-list .slick-center {
	opacity: 1;
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* Ensures that the height of all the upcoming event slides is equal to the slide with the maximum height */
.slick-track {
    display: flex !important;
}
.slick-slide {
    height: inherit !important;
}
.slick-slide > div {
	height: 100%;
}
.slick-slider.carousel-center-mode.slick-initialized {
	position: relative;
}
	
.about-us {
	margin-bottom: calc(54px + 2vw) !important;
}

.jumbotron {
	background-image: linear-gradient(280deg, rgba(0,0,0,0) 0%, rgba(20,40,40,1) 70%), url("../images/isauwcard.png");
	background-position: "0% 10%";
	background-size: cover;
	border-radius: 16px;
	padding: calc(2vw + 16px);
	margin-top: calc(1vw + 60px); 
}
.jumbotron-title {
	font-size: calc(20px + 1.2vw);
	font-weight: 700;
	color: white;
	text-shadow: 1px 1px 6px black
}
.jumbotron-desc {
	font-size: calc(10px + 0.3vw);
	color: white;
	padding-right: calc(256px - 16vw);
	text-shadow: 1px 1px 3px black
}
.jumbotron-btn {
	font-weight: 600;
	font-size: calc(12px + 0.6vw) !important;
	text-transform: none;
	color: white;
	margin: calc(1.2vw + 12px) 0 0
}